In [7]:
2+3\
+5+6

16

In [8]:
(2+3
+5+6)

16

In [9]:
[2+3
+5+6]

[16]

In [10]:
{2+3
+5+6}

{16}

In [2]:
a=5
A=4

In [3]:
a

5

In [4]:
A

4

In [5]:
#Data types
a=5
b=5.0
c=5+1j
d="Python"
e=True

In [6]:
print(type(a),type(b),type(c),type(d),type(e))

<class 'int'> <class 'float'> <class 'complex'> <class 'str'> <class 'bool'>

In [12]:
isinstance(a,int)

True

In [13]:
""""hjbijvbhd
vbdkjvdbvjd
jhvbdajvbhdvajdhv
"""

'"hjbijvbhd\nvbdkjvdbvjd\njhvbdajvbhdvajdhv\n'

In [14]:
x=2
a=b=9
P,Q,R="FOO",True,555

In [15]:
print(x,a,b,P,Q,R)

2 9 9 FOO True 555

In [18]:
a=5;b=9;c=9
print(a,b,c)

5 9 9

In [20]:
#operators
2**9

512

In [21]:
2%3

2

In [24]:
13%2

1

In [22]:
2==3

False

In [23]:
2!=2

False

In [25]:
"shubham"+"pandey"

'shubhampandey'

In [26]:
#Data type conversions
int(5.32)

5

In [27]:
savings=5000

In [31]:
x="I have saved $"+str(savings)
print(x)

I have saved $5000

In [32]:
print("I have saved $",savings)

I have saved $ 5000

In [34]:
print("shubham","pandey",sep="-")

shubham-pandey

In [35]:
print("shubham","pandey",sep="")

shubhampandey

In [36]:
print("My name is {} and I am a {}".format("Shubham","Trainer"))

My name is Shubham and I am a Trainer

In [37]:
print("My name is {1} and I am a {0}".format("Shubham","Trainer"))

My name is Trainer and I am a Shubham

In [42]:
xx=["a",23,"b",43,"c",87]

In [39]:
xx

['a', 23, 'b', 43, 'c', 87]

In [41]:
yy=[["a",23],["b",43],["c",87]]

In [43]:
type(xx)

list

In [44]:
xx[2]

'b'

In [46]:
xx[1:5]

[23, 'b', 43, 'c']

In [47]:
xx[:4]

['a', 23, 'b', 43]

In [49]:
yy=[["a",23],["b",43],["c",87]]

In [50]:
yy[0]

['a', 23]

In [51]:
yy[0][0]

'a'

In [61]:
t=(3,5,7,"yy","ff")
t

(3, 5, 7, 'yy', 'ff')

In [54]:
type(t)

tuple

In [55]:
t[0]

3

In [56]:
xx=["a",23,"b",43,"c",87]

In [57]:
xx[0]="zzzz"
xx

['zzzz', 23, 'b', 43, 'c', 87]

In [58]:
t[0]="zzzz"

TypeError: 'tuple' object does not support item assignment

In [59]:
dir(t)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [60]:
dir(xx)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [67]:
xx=["a",23,"b",43,"c",87]
xx.reverse()
xx

[87, 'c', 43, 'b', 23, 'a']

In [69]:
xx.pop()

'a'

In [71]:
?xx.pop

In [72]:
xx=[2,4,6,7]+[8,9]

In [73]:
xx

[2, 4, 6, 7, 8, 9]

In [75]:
height=[1.73,1.68,1.71,1.89,1.79]
weight=[65.4,59.2,63.2,78,95]

In [77]:
bmi=weight/(height**2)

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [78]:
import numpy as np

In [79]:
h=np.array(height)
w=np.array(weight)

In [80]:
h/w**2

array([0.00040447, 0.00047936, 0.00042812, 0.00031065, 0.00019834])

In [81]:
from numpy import array

In [82]:
h=array(height)
w=array(weight)

In [83]:
#dictionaries

In [84]:
countries=["a","b","c"]
population=[200,300,400]

In [85]:
countries.index("b")

1

In [86]:
population[1]

300

In [87]:
world={"a":200,"b":300,"c":400}

In [88]:
world["b"]

300

In [89]:
world={"a":200,"b":300,"c":400,"a":600}

In [90]:
world

{'a': 600, 'b': 300, 'c': 400}

In [91]:
world["d"]=800

In [92]:
world

{'a': 600, 'b': 300, 'c': 400, 'd': 800}

In [93]:
world[1]

KeyError: 1

In [94]:
del(world["d"])

In [95]:
world

{'a': 600, 'b': 300, 'c': 400}

In [110]:
amount=int(input("enter the amount"))

enter the amount7000

In [113]:
if amount<1000:
    discount=amount*.05
    print(discount)

In [115]:
if amount<1000:
    discount=amount*.05
    print(discount)
else:
    discount=amount*.10
    print(discount)
print("net payable",amount-discount)

700.0
net payable 6300.0

In [119]:
if amount<1000:
    discount=amount*.05
    discount
elif amount<5000:
    discount=amount*.10
    discount
elif amount<10000:
    discount=amount*.20
    discount
else:
     discount=amount*.30
     discount

In [120]:
print("net payable",amount-discount)

net payable 5600.0

In [121]:
x=2;y=3
x
y

3

In [122]:
x=2;y=3
print(x)
print(y)

2
3

In [123]:
x=[4,5,7,8,9,10]

In [124]:
for var in x:
    print(var)

4
5
7
8
9
10

In [125]:
x[0]

4

In [127]:
y="Python"
for letter in y:
    print("current letter:",letter)

current letter: P
current letter: y
current letter: t
current letter: h
current letter: o
current letter: n

In [128]:
pwd()

'/Users/nimisha/OneDrive/Data science with python/Python Coding/Shubham Python Codes'

In [3]:
import pandas as pd

In [4]:
hp=pd.read_csv("Lesson 10 Regression Analysis Ex 1.csv")

In [132]:
hp.head()

   Price  LivingArea  Bathrooms  Bedrooms  LotSize  Age  Fireplace
0  16858        1629        1.0         3     0.76  180          0
1  26049        1344        2.0         3     0.92   13          0
2  26130         822        1.0         2     0.56  173          0
3  31113        1540        1.0         2     0.04  115          0
4  40932        1320        1.0         3     0.17   90          0

In [133]:
hp.tail()

       Price  LivingArea  Bathrooms  Bedrooms  LotSize  Age  Fireplace
1042  387652        3504        2.5         5     0.90    0          1
1043  391842        3003        3.5         4     0.46   88          1
1044  394532        3361        3.5         4     0.71    1          1
1045  432845        3250        2.5         3     0.53   23          1
1046  446436        3467        2.5         4     0.34    3          1

In [135]:
hp.columns

Index(['Price', 'LivingArea', 'Bathrooms', 'Bedrooms', 'LotSize', 'Age',
       'Fireplace'],
      dtype='object')

In [9]:
hp.shape[0]

1047

In [137]:
type(hp.shape)

tuple

In [138]:
hp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1047 entries, 0 to 1046
Data columns (total 7 columns):
Price         1047 non-null int64
LivingArea    1047 non-null int64
Bathrooms     1047 non-null float64
Bedrooms      1047 non-null int64
LotSize       1047 non-null float64
Age           1047 non-null int64
Fireplace     1047 non-null int64
dtypes: float64(2), int64(5)
memory usage: 57.3 KB

In [139]:
type(hp)

pandas.core.frame.DataFrame

In [140]:
hp.info

<bound method DataFrame.info of        Price  LivingArea  Bathrooms  Bedrooms  LotSize  Age  Fireplace
0      16858        1629        1.0         3     0.76  180          0
1      26049        1344        2.0         3     0.92   13          0
2      26130         822        1.0         2     0.56  173          0
3      31113        1540        1.0         2     0.04  115          0
4      40932        1320        1.0         3     0.17   90          0
5      44674        1214        1.0         3     0.14  103          0
6      44873         882        1.5         3     0.18   71          0
7      45004         960        1.0         2     0.54   11          0
8      45904        1328        1.0         4     0.19  103          0
9      47630        1235        1.0         3     0.32   84          1
10     49211         800        1.0         2     0.46   55          0
11     49564        1363        2.0         3     2.40   39          0
12     50483         743        1.0         3     0.05  105          0
13     50709         960        1.5         2     0.01   12          0
14     51183        1144        1.0         3     0.64   15          0
15     52360        1310        1.5         4     0.24  120          0
16     54210         792        1.0         2     0.40   55          0
17     55817        1688        2.0         5     0.17  119          0
18     55851         990        1.5         2     0.08   75          0
19     57678         924        1.0         1     0.17  104          0
20     59003        3285        2.0         5     0.42  233          0
21     59043        1668        1.5         4     0.06  115          0
22     60238        1664        1.5         3     0.21   76          0
23     60309        2039        1.0         3     0.24   55          0
24     62105        1228        1.0         2     0.31   53          0
25     62938        1064        1.0         3     0.13   95          0
26     63101        1628        1.0         2     0.06  124          0
27     63852        1536        1.5         4     0.46   30          1
28     64174         672        1.0         2     0.36   46          0
29     64552        1298        1.0         3     0.24  106          0
...      ...         ...        ...       ...      ...  ...        ...
1017  326330        1326        1.0         3     2.00   52          0
1018  328491        2733        2.5         4     0.47    3          1
1019  329221        2934        2.5         3     0.66    9          1
1020  329328        3542        3.5         4     0.56    1          1
1021  329484        2786        2.5         4     0.39    0          1
1022  330219        2576        2.5         3     0.55   31          1
1023  332888        3111        2.5         4     0.50    3          1
1024  333411        3356        2.5         4     0.34    6          1
1025  334556        3376        2.5         4     0.83    7          1
1026  334556        3296        2.5         4     0.61    6          1
1027  337918        3026        4.0         4     1.34    1          1
1028  338596        1908        3.5         4     0.24   17          1
1029  340545        2926        3.0         4     0.84   11          1
1030  345364        3308        2.5         4     0.66    7          1
1031  347761        3820        4.5         4     1.40   18          1
1032  354739        3982        4.5         4     5.61    6          1
1033  355529        2186        2.5         3     1.40   12          0
1034  357138        2618        1.5         3     1.92    1          1
1035  357384        2322        2.5         3     0.27    0          1
1036  366772        3200        2.5         4     1.27    1          1
1037  368396        3358        3.5         4     0.58    9          1
1038  373227        2058        1.5         2     0.23   49          1
1039  378465        3457        2.5         3     1.00   20          1
1040  379472        3440        4.0         5     0.77    1          1
1041  379678        3720        4.0         5     0.80    0          1
1042  387652        3504        2.5         5     0.90    0          1
1043  391842        3003        3.5         4     0.46   88          1
1044  394532        3361        3.5         4     0.71    1          1
1045  432845        3250        2.5         3     0.53   23          1
1046  446436        3467        2.5         4     0.34    3          1

[1047 rows x 7 columns]>

In [4]:
hp[["Price","LivingArea"]]

       Price  LivingArea
0      16858        1629
1      26049        1344
2      26130         822
3      31113        1540
4      40932        1320
5      44674        1214
6      44873         882
7      45004         960
8      45904        1328
9      47630        1235
10     49211         800
11     49564        1363
12     50483         743
13     50709         960
14     51183        1144
15     52360        1310
16     54210         792
17     55817        1688
18     55851         990
19     57678         924
20     59003        3285
21     59043        1668
22     60238        1664
23     60309        2039
24     62105        1228
25     62938        1064
26     63101        1628
27     63852        1536
28     64174         672
29     64552        1298
...      ...         ...
1017  326330        1326
1018  328491        2733
1019  329221        2934
1020  329328        3542
1021  329484        2786
1022  330219        2576
1023  332888        3111
1024  333411        3356
1025  334556        3376
1026  334556        3296
1027  337918        3026
1028  338596        1908
1029  340545        2926
1030  345364        3308
1031  347761        3820
1032  354739        3982
1033  355529        2186
1034  357138        2618
1035  357384        2322
1036  366772        3200
1037  368396        3358
1038  373227        2058
1039  378465        3457
1040  379472        3440
1041  379678        3720
1042  387652        3504
1043  391842        3003
1044  394532        3361
1045  432845        3250
1046  446436        3467

[1047 rows x 2 columns]

In [147]:
hp["Price"]

0        16858
1        26049
2        26130
3        31113
4        40932
5        44674
6        44873
7        45004
8        45904
9        47630
10       49211
11       49564
12       50483
13       50709
14       51183
15       52360
16       54210
17       55817
18       55851
19       57678
20       59003
21       59043
22       60238
23       60309
24       62105
25       62938
26       63101
27       63852
28       64174
29       64552
         ...
1017    326330
1018    328491
1019    329221
1020    329328
1021    329484
1022    330219
1023    332888
1024    333411
1025    334556
1026    334556
1027    337918
1028    338596
1029    340545
1030    345364
1031    347761
1032    354739
1033    355529
1034    357138
1035    357384
1036    366772
1037    368396
1038    373227
1039    378465
1040    379472
1041    379678
1042    387652
1043    391842
1044    394532
1045    432845
1046    446436
Name: Price, Length: 1047, dtype: int64

In [8]:
hp.loc[[3,8,100],['Price','LivingArea']]

     Price  LivingArea
3    31113        1540
8    45904        1328
100  91792         908

In [11]:
hp.loc[1:7,['Price','LivingArea']]

   Price  LivingArea
1  26049        1344
2  26130         822
3  31113        1540
4  40932        1320
5  44674        1214
6  44873         882
7  45004         960

In [13]:
hp.head(10)

   Price  LivingArea  Bathrooms  Bedrooms  LotSize  Age  Fireplace
0  16858        1629        1.0         3     0.76  180          0
1  26049        1344        2.0         3     0.92   13          0
2  26130         822        1.0         2     0.56  173          0
3  31113        1540        1.0         2     0.04  115          0
4  40932        1320        1.0         3     0.17   90          0
5  44674        1214        1.0         3     0.14  103          0
6  44873         882        1.5         3     0.18   71          0
7  45004         960        1.0         2     0.54   11          0
8  45904        1328        1.0         4     0.19  103          0
9  47630        1235        1.0         3     0.32   84          1

In [15]:
hp.shape[0]

1047

In [16]:
hp.shape

(1047, 7)

In [19]:
hp.Price.describe()

count      1047.000000
mean     163862.125119
std       67651.558917
min       16858.000000
25%      112014.000000
50%      151917.000000
75%      205235.000000
max      446436.000000
Name: Price, dtype: float64

In [21]:
hp[hp['Fireplace']==1].head()

    Price  LivingArea  Bathrooms  Bedrooms  LotSize  Age  Fireplace
9   47630        1235        1.0         3     0.32   84          1
27  63852        1536        1.5         4     0.46   30          1
38  69814         840        1.0         1     0.18   57          1
40  71647        2087        2.5         3     0.56    0          1
44  74421        1928        2.0         4     0.27  134          1

In [22]:
hp.Age.mean()

28.061127029608404

In [29]:
hp[(hp['Fireplace']==1) & (hp['Age']<hp.Age.mean())].head()

    Price  LivingArea  Bathrooms  Bedrooms  LotSize  Age  Fireplace
40  71647        2087        2.5         3     0.56    0          1
65  81580        1336        1.5         2     0.35   20          1
69  82556        1480        1.5         3     0.10   14          1
73  84291        1480        2.5         2     0.07   14          1
77  85939        1527        2.0         2     0.31   17          1

In [32]:
lst=[1.5,2.5]

hp[hp['Bathrooms'].isin(lst)].shape[0]

634

In [30]:
hp.Bathrooms.value_counts()

2.5    373
1.5    261
1.0    198
2.0    172
3.0     23
3.5     15
4.0      3
4.5      2
Name: Bathrooms, dtype: int64

In [33]:
hp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1047 entries, 0 to 1046
Data columns (total 7 columns):
Price         1047 non-null int64
LivingArea    1047 non-null int64
Bathrooms     1047 non-null float64
Bedrooms      1047 non-null int64
LotSize       1047 non-null float64
Age           1047 non-null int64
Fireplace     1047 non-null int64
dtypes: float64(2), int64(5)
memory usage: 57.3 KB

In [45]:
hp.sort_values(by=['Fireplace','Price'],ascending=[True,False],inplace=True)

In [46]:
hp

       Price  LivingArea  Bathrooms  Bedrooms  LotSize  Age  Fireplace
1033  355529        2186        2.5         3     1.40   12          0
1017  326330        1326        1.0         3     2.00   52          0
1015  323819        2592        3.0         3     0.16    1          0
1002  303599        3329        1.5         3     0.62   14          0
1001  300931         847        1.0         2     0.55   78          0
985   283851        2346        2.5         4     0.54    1          0
970   269063        3319        2.5         3     2.00   20          0
969   268783        2329        2.0         5     0.17   72          0
962   263408        1738        2.0         3     0.22    5          0
958   262461        2809        2.5         4     0.25    2          0
953   261301        1859        1.5         3     0.14   85          0
949   260485        2143        2.5         3     0.10    6          0
942   255303        2242        2.5         3     0.07    0          0
927   247639        1016        2.0         2     0.01   41          0
919   243305        2242        2.5         3     0.08    0          0
892   236215        1392        2.5         3     0.13    4          0
886   234429        1470        2.5         3     0.13    3          0
877   231749        1980        2.0         3     0.22    6          0
872   229761        2230        2.5         3     0.62    1          0
856   224888        1200        1.0         2     0.16   65          0
848   221925        2472        2.0         4     0.62  183          0
847   221263        2000        2.5         3     0.73   22          0
844   220261        2712        2.5         4     0.50    1          0
836   217797        1386        1.5         2     0.23   92          0
831   216018        1216        1.5         3     0.14   75          0
816   210743        2120        2.5         3     0.54   10          0
811   209555        2539        2.5         4     0.38    1          0
805   208635        2714        3.0         4     0.55    1          0
803   208339        2109        2.5         2     0.26    1          0
793   206512        1456        2.0         3     0.98   10          0
...      ...         ...        ...       ...      ...  ...        ...
143    99311        1281        2.5         2     0.01   18          1
141    99082         924        1.0         2     0.15   20          1
139    98790        1480        1.5         3     0.08   16          1
132    98256        1480        2.5         2     0.07   16          1
131    97783        1061        1.0         3     0.92   48          1
130    97739        1276        2.0         2     0.17   26          1
122    95260        1480        1.5         3     0.07   15          1
118    94584         924        1.0         2     0.17   19          1
115    94064        1480        2.5         2     0.18   16          1
113    93895        1480        1.5         3     0.22   17          1
108    93200         924        1.0         2     0.31   19          1
103    92519        1281        2.5         2     0.02   19          1
91     89893        1480        2.5         2     0.29   14          1
89     89432        1132        1.0         2     0.16   25          1
83     88092        1572        1.5         4     0.06   50          1
82     88092        3944        1.0         4     1.64  185          1
77     85939        1527        2.0         2     0.31   17          1
75     85560        2068        1.0         4     1.00  104          1
74     84333        2043        1.5         4     0.32   94          1
73     84291        1480        2.5         2     0.07   14          1
69     82556        1480        1.5         3     0.10   14          1
65     81580        1336        1.5         2     0.35   20          1
62     80130        1225        1.0         3     0.24   48          1
51     75975        1300        2.0         3     0.49  227          1
45     74422        1708        1.0         2     0.87   39          1
44     74421        1928        2.0         4     0.27  134          1
40     71647        2087        2.5         3     0.56    0          1
38     69814         840        1.0         1     0.18   57          1
27     63852        1536        1.5         4     0.46   30          1
9      47630        1235        1.0         3     0.32   84          1

[1047 rows x 7 columns]

In [47]:
hp.Bedrooms.unique()

array([3, 2, 4, 5, 1, 6])

In [48]:
hp.groupby('Fireplace').count()

           Price  LivingArea  Bathrooms  Bedrooms  LotSize  Age
Fireplace
0            426         426        426       426      426  426
1            621         621        621       621      621  621

In [49]:
hp.groupby('Fireplace').mean()

,Price,LivingArea,Bathrooms,Bedrooms,LotSize,Age
Fireplace,,,,,,
0,126287.657277,1434.617371,1.573944,2.915493,0.520047,38.539906
1,189637.847021,2062.961353,2.154589,3.367150,0.603559,20.872786

In [51]:
hp.groupby('Fireplace')[['Price']].mean()

                   Price
Fireplace
0          126287.657277
1          189637.847021

In [52]:
hp.groupby(['Fireplace','Bathrooms'])[['Price']].mean()

                             Price
Fireplace Bathrooms
0         1.0        104706.985294
          1.5        120300.960526
          2.0        131250.939024
          2.5        186942.725490
          3.0        195198.000000
1         1.0        123556.209677
          1.5        143776.431193
          2.0        161829.166667
          2.5        215123.503106
          3.0        247050.611111
          3.5        290141.000000
          4.0        365689.333333
          4.5        351250.000000

In [53]:
hp.groupby(['Fireplace','Bathrooms'])[['Price','Age']].mean()

                             Price        Age
Fireplace Bathrooms
0         1.0        104706.985294  59.683824
          1.5        120300.960526  33.276316
          2.0        131250.939024  30.475610
          2.5        186942.725490  11.607843
          3.0        195198.000000  30.400000
1         1.0        123556.209677  49.274194
          1.5        143776.431193  31.412844
          2.0        161829.166667  29.877778
          2.5        215123.503106  10.785714
          3.0        247050.611111   8.333333
          3.5        290141.000000   9.666667
          4.0        365689.333333   0.666667
          4.5        351250.000000  12.000000

In [54]:
hp.groupby(['Fireplace','Bathrooms'])[['Price','Age']].agg(['mean','std'])

                             Price                      Age
                              mean           std       mean        std
Fireplace Bathrooms
0         1.0        104706.985294  41960.308216  59.683824  43.989679
          1.5        120300.960526  36539.485792  33.276316  34.100202
          2.0        131250.939024  46463.717405  30.475610  38.066292
          2.5        186942.725490  50586.953408  11.607843  20.971484
          3.0        195198.000000  77303.298946  30.400000  58.590102
1         1.0        123556.209677  35409.130618  49.274194  32.519436
          1.5        143776.431193  45789.927525  31.412844  34.183116
          2.0        161829.166667  40124.422607  29.877778  40.863112
          2.5        215123.503106  57000.392446  10.785714  11.237484
          3.0        247050.611111  46825.601058   8.333333  11.926244
          3.5        290141.000000  66876.284196   9.666667  22.410669
          4.0        365689.333333  24050.900718   0.666667   0.577350
          4.5        351250.000000   4934.191119  12.000000   8.485281

In [55]:
def data_range(x):
    y=x.max()-x.min()
    return y

In [56]:
hp.groupby(['Fireplace','Bathrooms'])[['Price','Age']].agg(data_range)

                      Price  Age
Fireplace Bathrooms
0         1.0        309472  203
          1.5        258726  180
          2.0        242734  233
          2.5        275636  127
          3.0        184715  134
1         1.0        205915  184
          1.5        309375  208
          2.0        204662  247
          2.5        374789   73
          3.0        184832   39
          3.5        197182   88
          4.0         41760    1
          4.5          6978   12

In [58]:
hp.groupby(['Fireplace','Bathrooms'])[['Price','Age']].data_range()

AttributeError: 'DataFrameGroupBy' object has no attribute 'data_range'

In [60]:
hp.groupby(['Fireplace','Bathrooms'])[['Price','Age']].mean()

                             Price        Age
Fireplace Bathrooms
0         1.0        104706.985294  59.683824
          1.5        120300.960526  33.276316
          2.0        131250.939024  30.475610
          2.5        186942.725490  11.607843
          3.0        195198.000000  30.400000
1         1.0        123556.209677  49.274194
          1.5        143776.431193  31.412844
          2.0        161829.166667  29.877778
          2.5        215123.503106  10.785714
          3.0        247050.611111   8.333333
          3.5        290141.000000   9.666667
          4.0        365689.333333   0.666667
          4.5        351250.000000  12.000000

In [62]:
def recode_fp(x):
    if x==1:
        return "Yes"
    elif x==0:
        return "No"
    else:
        return "NA"

In [63]:
hp['Fireplace2']=hp.Fireplace.apply(recode_fp)

In [69]:
hp.head()

,Price,LivingArea,Bathrooms,Bedrooms,LotSize,Age,Fireplace,Fireplace2
1033,355529,2186,2.5,3,1.40,12,0,No
1017,326330,1326,1.0,3,2.00,52,0,No
1015,323819,2592,3.0,3,0.16,1,0,No
1002,303599,3329,1.5,3,0.62,14,0,No
1001,300931,847,1.0,2,0.55,78,0,No

In [68]:
hp['Fireplace2'] = recode_fp(hp[['Fireplace']])

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [72]:
hp.head()

,Price,LivingArea,Bathrooms,Bedrooms,LotSize,Age,Fireplace,Fireplace2
1033,355529,2186,2.5,3,1.40,12,0,No
1017,326330,1326,1.0,3,2.00,52,0,No
1015,323819,2592,3.0,3,0.16,1,0,No
1002,303599,3329,1.5,3,0.62,14,0,No
1001,300931,847,1.0,2,0.55,78,0,No

In [ ]:
hp[(hp['Fireplace']==1) & (hp['Age']<hp.Age.mean()) & ()].head()

In [1]:
import numpy as np

In [6]:
hp[["Price"]].head()

   Price
0  16858
1  26049
2  26130
3  31113
4  40932

In [7]:
hp.Price.quantile()

151917.0

In [15]:
q1=hp.Price.quantile(.25)
q3=hp.Price.quantile(.75)
iqr=q3-q1
b1=q3+1.5*iqr

In [14]:
b2=q1-1.5*iqr

In [17]:
hp.Price[(hp['Price']>b1) | (hp['Price']<b2)].shape

(17,)

In [2]:
import scipy.stats as st

In [23]:
p=1-st.norm.cdf(700,494,100)
p

0.019699270409376912

In [24]:
p1=st.norm.cdf(300,494,100)
p2=st.norm.cdf(600,494,100)
p=p2-p1
p

0.8292378553956377

In [25]:
st.norm.cdf(217,220,1.5)

0.022750131948179195

In [26]:
1-2*st.norm.cdf(217,220,1.5)

0.9544997361036416

In [29]:
xbar=6.5
psd=3.2
n=100
z=st.norm.ppf(.025)
mu1=xbar+z*psd/np.sqrt(n)
mu2=xbar-z*psd/np.sqrt(n)
print(mu1,mu2)

5.872811524947182 7.127188475052818

A magazine reported that the mean annual household income of its readers is $119,155. Assume this estimate of the mean annual household income is based on a sample of 80 households, and based on past studies, the population standard deviation is known to be σ = $30,000.
1. construct a 90% CI
2. construct a 95% CI
3. construct a 98% CI

In [1]:
from math import sqrt

In [10]:
xbar = 119155
psd = 30000
n = 80
z = st.norm.ppf(0.05)
mu1 = xbar - z*psd/sqrt(n)
mu2 = xbar + z*psd/sqrt(n)
print(round(mu1/1000,2),round(mu2/1000,2))

124.67 113.64

In [11]:
xbar = 119155
psd = 30000
n = 80
z = st.norm.ppf(0.025)
mu1 = xbar - z*psd/sqrt(n)
mu2 = xbar + z*psd/sqrt(n)
print(round(mu1/1000,2),round(mu2/1000,2))

125.73 112.58

In [12]:
xbar = 119155
psd = 30000
n = 80
z = st.norm.ppf(0.01)
mu1 = xbar - z*psd/sqrt(n)
mu2 = xbar + z*psd/sqrt(n)
print(round(mu1/1000,2),round(mu2/1000,2))

126.96 111.35

In [13]:
xbar = 119155
psd = 30000
n = 80
st.norm.interval(0.90,xbar,psd/sqrt(n))

(113637.99321564914, 124672.00678435086)

In [ ]:
st.norm.cdf / ppf / interval ---> st.t.cdf/ppf/interval (x/p, dof)

The mean number of hours of flying time for pilots at an Airlines is 49 hours per month. Assume that this mean was based on actual flying times for a sample of 100 pilots and that the sample standard deviation was 8.5 hours.
a. At 95% confidence, what is the margin of error?
b. What is the 95% confidence interval estimate of the population mean flying time for the pilots?

In [14]:
xbar = 49
sd = 8.5
n = 100
t = st.t.ppf(0.05, n-1)
mu1 = xbar + t*sd/sqrt(n)
mu2 = xbar - t*sd/sqrt(n)
print(round(mu1,2),round(mu2,2))

47.59 50.41

In [16]:
st.t.interval(0.95, n-1,xbar, sd/sqrt(n))

(47.31341559121762, 50.68658440878238)

In [17]:
st.norm.ppf(0.05)

-1.6448536269514729

An automatic bottling machine fills cola into 2 lt (2000 cm3) bottles. A consumer advocate wants to test the null hypothesis that the average amount filed by the machine into the bottle is at least 2,000 cm3. A random sample of 40 bottles coming out of the machine was selected and the exact content of the selected bottles are recorded. The sample mean was 1,999.6 cm3. The population standard deviation is known from the past experience to be 1.30 cm3.
1. Test the null hypothesis at an alpha of 5%
2. Assume that the population is normally distributed with the same sd of 1.30 cm3. Assume that the sample size is only 20 but the sample mean is the same 1,999.6 cm3. Conduct the test once again at an alpha of 5%.
3. If there is a difference in the two test results, explain the reason for the difference.

H0: mu > = 2000
Ha: mu < 2000

In [25]:
# Given :
xbar = 1999.6
mu0 = 2000
sigma = 1.3
n = 40
z = (xbar- mu0 )/ (sigma/sqrt(n))
st.norm.cdf(z) ## left area -- area of rejection

0.025826347487875892

if p < alpha ---> reject null 
if p >= alpha ---> accept null

the popp mean < 2000 cm3

In [24]:
# Given :
xbar = 1999.6
mu0 = 2000
sigma = 1.3
n = 20
z = (xbar- mu0 )/ (sigma/sqrt(n))
st.norm.cdf(z)

0.08440434121267448

In a study entitled How Undergraduate Students Use Credit Cards, it was reported that undergraduate students have a mean credit card balance of $3173 (Sallie Mae, April 2009).
This figure was an all-time high and had increased 44% over the previous five years. Assume that a current study is being conducted to determine if it can be concluded that the mean credit card balance for undergraduate students has continued to increase compared to the April 2009 report. Based on previous studies, use a population standard deviation σ = $1000.
a. State the null and alternative hypotheses.
b. What is the p-value for a sample of 180 undergraduate students with a sample mean credit card balance of $3325?
c. Using a .05 level of significance, what is your conclusion?

H0: mu <= 3173 
Ha: mu > 3173

In [32]:
# Given :
mu0 = 3173
xbar = 3325
n = 180
sigma = 1000

z = (xbar - mu0)/(sigma/sqrt(n))
p = 1-st.norm.cdf(z)

In [34]:
p

0.02071034728127641

In [31]:
st.norm.ppf(0.95)

1.6448536269514722

Wall Street securities firms paid out record year-end bonuses of $125,500 per employee for 2005 (Fortune, February 6, 2006). Suppose we would like to take a sample of employees at the Jones & Ryan securities firm to see whether the mean year-end bonus is different from the reported mean of $125,500 for the population.
a. State the null and alternative hypotheses you would use to test whether the year-end bonuses paid by Jones & Ryan were different from the population mean.
b. Suppose a sample of 40 Jones & Ryan employees showed a sample mean year-end bonus of $118,000. Assume a population standard deviation of σ = $30,000 and compute the p-value.
c. With α = .05 as the level of significance, what is your conclusion?

# T Test

AOL Time Warner Inc.’s CNN has been the longtime ratings leader of cable television news. Nielsen Media Research indicated that the mean CNN viewing audience was 600,000 viewers per day during 2002 (The Wall Street Journal, March 10, 2003). Assume that for a sample of 40 days during the first half of 2003, the daily audience was 612,000 viewers with a sample standard deviation of 65,000 viewers.
a. What are the hypotheses if CNN management would like information on any change in the CNN viewing audience?
b. What is the p-value?
c. Select your own level of significance. What is your conclusion?
d. What recommendation would you make to CNN management in this application?

H0 : mu  = 60000
Ha : mu != 60000

In [39]:
#given:
xbar = 612000
mu0 = 600000
n = 40
sd = 65000

In [43]:
t = (xbar - mu0)/(sd/sqrt(n))
p_value =1- st.t.cdf(t,n-1)

In [45]:
t,p_value*2

(1.1676102129852477, 0.250053080757739)

In [3]:
import os
os.chdir('/Users/nimisha/Downloads/Ds Simplilearn data')

In [4]:
import pandas as pd
hyp = pd.read_csv("Datasets/Sample_data.csv")
hyp.head()

    ID  Gender  Race  SEB  School  Prog  Read  Write  Math1  Math2  SST
0   70       0     4    1       1     1    57     52     41     47   57
1  121       1     4    2       1     3    68     59     53     63   61
2   86       0     4    3       1     1    44     33     54     58   31
3  141       0     4    3       1     3    63     44     47     53   56
4  172       0     4    2       1     2    47     52     57     53   61

H0 : mean(total marks) = 300
Ha : mean(total marks) != 300

In [5]:
hyp.shape

(200, 11)

In [6]:
hyp['Total'] = hyp.loc[:,'Read':'SST'].sum(axis = 1)

In [7]:
xbar = hyp.Total.mean()
sd = hyp.Total.std()
n = len(hyp)
mu0 = 300

In [8]:
t = (xbar - mu0)/ (sd/sqrt(n))
t

-13.186389950339553

In [9]:
p_value = st.t.cdf(t,n-1)
p_value*2

6.023415406934338e-29

In [10]:
st.ttest_1samp(hyp.Total,mu0)

Ttest_1sampResult(statistic=-13.186389950339551, pvalue=6.023415406934338e-29)

H0 : mean(total marks) <= 300
Ha : mean(total marks) > 300

In [11]:
st.ttest_1samp(hyp.Total,mu0)

Ttest_1sampResult(statistic=-13.186389950339551, pvalue=6.023415406934338e-29)

if t < 0:
    P_left_tail = P_two_tail/2
    P_right_tail = 1 - P_two_tail/2
    
if t > 0:
    P_right_tail= P_two_tail/2
    P_left_tail = 1 - P_two_tail/2

# 10th _march

### Independent T test

SST and Read
H0 : mean(SST) - mean(Read) = 0
H1 : mean(SST) - mean(Read) != 0

In [12]:
st.ttest_ind(hyp.SST, hyp.Read)

Ttest_indResult(statistic=0.16671204616325813, pvalue=0.8676812899652091)

If gender 0 = male and gender = 1 is female
test a hypothesis that there is a significant difference between the total marks of the two groups

H0: mean(Total for gender = 0) - mean(Total for gender = 1)  = 0
H0: mean(Total for gender = 0) - mean(Total for gender = 1) != 0

In [17]:
samp1 = hyp[hyp.Gender == 0].Total
samp2 = hyp[hyp.Gender == 1].Total 

st.ttest_ind(samp1,samp2)

Ttest_indResult(statistic=-0.3133212681602832, pvalue=0.7543664000510382)

### Paired T Test

Math1 -- entry level exam
Math 2 -- exit level exam

H0: average difference between the two populations is non significant
Ha: average difference between the two populations is  significant

In [13]:
st.ttest_rel(hyp.Math1,hyp.Math2)

Ttest_relResult(statistic=1.3555927189268235, pvalue=0.17676525605507354)

# ANOVA

st.f_oneway(samp1, samp2,samp3) ---> F and p value

from statsmodels.formula.api import ols # ---> 
statsmodels.api

In [38]:
from statsmodels.formula.api import ols
import statsmodels.api as sm

In [ ]:
'variable ~ factor'

In [ ]:
# H0 : marks obtained in SST are similar across prog

In [50]:
mod = ols('SST ~ Prog', data = hyp).fit()
aov_table = sm.stats.anova_lm(mod)

In [41]:
aov_table

             df        sum_sq     mean_sq         F    PR(>F)
Prog        1.0    874.396845  874.396845  7.847528  0.005594
Residual  198.0  22061.798155  111.423223       NaN       NaN

In [49]:
mod = ols('SST ~ Prog + Race + School', data = hyp).fit()
aov_table = sm.stats.anova_lm(mod)
aov_table

             df        sum_sq     mean_sq         F    PR(>F)
Prog        1.0    874.396845  874.396845  8.072204  0.004970
Race        1.0    747.717096  747.717096  6.902730  0.009287
School      1.0     82.979888   82.979888  0.766049  0.382513
Residual  196.0  21231.101172  108.321945       NaN       NaN

In [46]:
import warnings
warnings.filterwarnings('ignore')

In [48]:
mod = ols('SST ~ Prog * Race * School', data = hyp)
model_fit = mod.fit()
aov_table = sm.stats.anova_lm(model_fit)
aov_table

                     df        sum_sq     mean_sq         F    PR(>F)
Prog                1.0    874.396845  874.396845  8.098933  0.004910
Race                1.0    747.717096  747.717096  6.925586  0.009188
Prog:Race           1.0     21.284090   21.284090  0.197140  0.657539
School              1.0     89.372418   89.372418  0.827795  0.364052
Prog:School         1.0     65.597548   65.597548  0.607585  0.436658
Race:School         1.0    358.056815  358.056815  3.316432  0.070147
Prog:Race:School    1.0     50.595511   50.595511  0.468631  0.494443
Residual          192.0  20729.174678  107.964451       NaN       NaN

In [ ]:
prog --> 1,2,3
School --> 1,2
Race -->1,2,3,4

prog = 1 race =1 
1,1
1,2
1,3
1,4
2,1
2,2
2,3

In [ ]:
hyp[(hyp.Prog == 1) & (hyp.Race == 1)].SST
hyp[(hyp.Prog == 1) & (hyp.Race == 2)].SST
hyp[(hyp.Prog == 1) & (hyp.Race == 3)].SST
hyp[(hyp.Prog == 1) & (hyp.Race == 4)].SST
hyp[(hyp.Prog == 2) & (hyp.Race == 1)].SST
hyp[(hyp.Prog == 2) & (hyp.Race == 2)].SST
hyp[(hyp.Prog == 2) & (hyp.Race == 3)].SST
hyp[(hyp.Prog == 2) & (hyp.Race == 4)].SST
hyp[(hyp.Prog == 3) & (hyp.Race == 1)].SST
hyp[(hyp.Prog == 3) & (hyp.Race == 2)].SST
hyp[(hyp.Prog == 3) & (hyp.Race == 3)].SST
hyp[(hyp.Prog == 3) & (hyp.Race == 4)].SST

In [56]:
import numpy as np
contigency_table = np.array([[40, 20],[5, 135]])
contigency_table

array([[ 40,  20],
       [  5, 135]])

In [57]:
st.chi2_contingency(contigency_table)

(92.30244068953745, 7.439249472642053e-22, 1, array([[ 13.5,  46.5],
        [ 31.5, 108.5]]))

In [ ]:
chi_square , p_value , df, exp_freq

In [ ]:
# H0 : choice of Prog is independent of Race

In [63]:
pd.crosstab(hyp.Prog,hyp.Race, margins = True)

Race   1   2   3    4  All
Prog
1      4   4   5   32   45
2     11   6   9   79  105
3      9   1   6   34   50
All   24  11  20  145  200

In [61]:
st.chi2_contingency(pd.crosstab(hyp.Prog,hyp.Race))

(4.858235889270372,
 0.5621199676628652,
 6,
 array([[ 5.4  ,  2.475,  4.5  , 32.625],
        [12.6  ,  5.775, 10.5  , 76.125],
        [ 6.   ,  2.75 ,  5.   , 36.25 ]]))