In [7]:
2+3\
+5+6

16

In [8]:
(2+3
+5+6)

16

In [9]:
[2+3
+5+6]

[16]

In [10]:
{2+3
+5+6}

{16}

In [2]:
a=5
A=4

In [3]:
a

5

In [4]:
A

4

In [5]:
#Data types
a=5
b=5.0
c=5+1j
d="Python"
e=True

In [6]:
print(type(a),type(b),type(c),type(d),type(e))

<class 'int'> <class 'float'> <class 'complex'> <class 'str'> <class 'bool'>

In [12]:
isinstance(a,int)

True

In [13]:
""""hjbijvbhd
vbdkjvdbvjd
jhvbdajvbhdvajdhv
"""

'"hjbijvbhd\nvbdkjvdbvjd\njhvbdajvbhdvajdhv\n'

In [14]:
x=2
a=b=9
P,Q,R="FOO",True,555

In [15]:
print(x,a,b,P,Q,R)

2 9 9 FOO True 555

In [18]:
a=5;b=9;c=9
print(a,b,c)

5 9 9

In [20]:
#operators
2**9

512

In [21]:
2%3

2

In [24]:
13%2

1

In [22]:
2==3

False

In [23]:
2!=2

False

In [25]:
"shubham"+"pandey"

'shubhampandey'

In [26]:
#Data type conversions
int(5.32)

5

In [27]:
savings=5000

In [31]:
x="I have saved $"+str(savings)
print(x)

I have saved $5000

In [32]:
print("I have saved $",savings)

I have saved $ 5000

In [34]:
print("shubham","pandey",sep="-")

shubham-pandey

In [35]:
print("shubham","pandey",sep="")

shubhampandey

In [36]:
print("My name is {} and I am a {}".format("Shubham","Trainer"))

My name is Shubham and I am a Trainer

In [37]:
print("My name is {1} and I am a {0}".format("Shubham","Trainer"))

My name is Trainer and I am a Shubham

In [42]:
xx=["a",23,"b",43,"c",87]

In [39]:
xx

['a', 23, 'b', 43, 'c', 87]

In [41]:
yy=[["a",23],["b",43],["c",87]]

In [43]:
type(xx)

list

In [44]:
xx[2]

'b'

In [46]:
xx[1:5]

[23, 'b', 43, 'c']

In [47]:
xx[:4]

['a', 23, 'b', 43]

In [49]:
yy=[["a",23],["b",43],["c",87]]

In [50]:
yy[0]

['a', 23]

In [51]:
yy[0][0]

'a'

In [61]:
t=(3,5,7,"yy","ff")
t

(3, 5, 7, 'yy', 'ff')

In [54]:
type(t)

tuple

In [55]:
t[0]

3

In [56]:
xx=["a",23,"b",43,"c",87]

In [57]:
xx[0]="zzzz"
xx

['zzzz', 23, 'b', 43, 'c', 87]

In [58]:
t[0]="zzzz"

TypeError: 'tuple' object does not support item assignment

In [59]:
dir(t)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [60]:
dir(xx)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [67]:
xx=["a",23,"b",43,"c",87]
xx.reverse()
xx

[87, 'c', 43, 'b', 23, 'a']

In [69]:
xx.pop()

'a'

In [71]:
?xx.pop

In [72]:
xx=[2,4,6,7]+[8,9]

In [73]:
xx

[2, 4, 6, 7, 8, 9]

In [75]:
height=[1.73,1.68,1.71,1.89,1.79]
weight=[65.4,59.2,63.2,78,95]

In [77]:
bmi=weight/(height**2)

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [78]:
import numpy as np

In [79]:
h=np.array(height)
w=np.array(weight)

In [80]:
h/w**2

array([0.00040447, 0.00047936, 0.00042812, 0.00031065, 0.00019834])

In [81]:
from numpy import array

In [82]:
h=array(height)
w=array(weight)

In [83]:
#dictionaries

In [84]:
countries=["a","b","c"]
population=[200,300,400]

In [85]:
countries.index("b")

1

In [86]:
population[1]

300

In [87]:
world={"a":200,"b":300,"c":400}

In [88]:
world["b"]

300

In [89]:
world={"a":200,"b":300,"c":400,"a":600}

In [90]:
world

{'a': 600, 'b': 300, 'c': 400}

In [91]:
world["d"]=800

In [92]:
world

{'a': 600, 'b': 300, 'c': 400, 'd': 800}

In [93]:
world[1]

KeyError: 1

In [94]:
del(world["d"])

In [95]:
world

{'a': 600, 'b': 300, 'c': 400}

In [110]:
amount=int(input("enter the amount"))

enter the amount7000

In [113]:
if amount<1000:
    discount=amount*.05
    print(discount)

In [115]:
if amount<1000:
    discount=amount*.05
    print(discount)
else:
    discount=amount*.10
    print(discount)
print("net payable",amount-discount)

700.0
net payable 6300.0

In [119]:
if amount<1000:
    discount=amount*.05
    discount
elif amount<5000:
    discount=amount*.10
    discount
elif amount<10000:
    discount=amount*.20
    discount
else:
     discount=amount*.30
     discount

In [120]:
print("net payable",amount-discount)

net payable 5600.0

In [121]:
x=2;y=3
x
y

3

In [122]:
x=2;y=3
print(x)
print(y)

2
3

In [123]:
x=[4,5,7,8,9,10]

In [124]:
for var in x:
    print(var)

4
5
7
8
9
10

In [125]:
x[0]

4

In [127]:
y="Python"
for letter in y:
    print("current letter:",letter)

current letter: P
current letter: y
current letter: t
current letter: h
current letter: o
current letter: n

In [128]:
pwd()

'/Users/nimisha/OneDrive/Data science with python/Python Coding/Shubham Python Codes'

In [129]:
import pandas as pd

In [130]:
hp=pd.read_csv("Lesson 10 Regression Analysis Ex 1.csv")

In [132]:
hp.head()

   Price  LivingArea  Bathrooms  Bedrooms  LotSize  Age  Fireplace
0  16858        1629        1.0         3     0.76  180          0
1  26049        1344        2.0         3     0.92   13          0
2  26130         822        1.0         2     0.56  173          0
3  31113        1540        1.0         2     0.04  115          0
4  40932        1320        1.0         3     0.17   90          0

In [133]:
hp.tail()

       Price  LivingArea  Bathrooms  Bedrooms  LotSize  Age  Fireplace
1042  387652        3504        2.5         5     0.90    0          1
1043  391842        3003        3.5         4     0.46   88          1
1044  394532        3361        3.5         4     0.71    1          1
1045  432845        3250        2.5         3     0.53   23          1
1046  446436        3467        2.5         4     0.34    3          1

In [135]:
hp.columns

Index(['Price', 'LivingArea', 'Bathrooms', 'Bedrooms', 'LotSize', 'Age',
       'Fireplace'],
      dtype='object')

In [136]:
hp.shape

(1047, 7)

In [137]:
type(hp.shape)

tuple

In [138]:
hp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1047 entries, 0 to 1046
Data columns (total 7 columns):
Price         1047 non-null int64
LivingArea    1047 non-null int64
Bathrooms     1047 non-null float64
Bedrooms      1047 non-null int64
LotSize       1047 non-null float64
Age           1047 non-null int64
Fireplace     1047 non-null int64
dtypes: float64(2), int64(5)
memory usage: 57.3 KB

In [139]:
type(hp)

pandas.core.frame.DataFrame

In [140]:
hp.info

<bound method DataFrame.info of        Price  LivingArea  Bathrooms  Bedrooms  LotSize  Age  Fireplace
0      16858        1629        1.0         3     0.76  180          0
1      26049        1344        2.0         3     0.92   13          0
2      26130         822        1.0         2     0.56  173          0
3      31113        1540        1.0         2     0.04  115          0
4      40932        1320        1.0         3     0.17   90          0
5      44674        1214        1.0         3     0.14  103          0
6      44873         882        1.5         3     0.18   71          0
7      45004         960        1.0         2     0.54   11          0
8      45904        1328        1.0         4     0.19  103          0
9      47630        1235        1.0         3     0.32   84          1
10     49211         800        1.0         2     0.46   55          0
11     49564        1363        2.0         3     2.40   39          0
12     50483         743        1.0         3     0.05  105          0
13     50709         960        1.5         2     0.01   12          0
14     51183        1144        1.0         3     0.64   15          0
15     52360        1310        1.5         4     0.24  120          0
16     54210         792        1.0         2     0.40   55          0
17     55817        1688        2.0         5     0.17  119          0
18     55851         990        1.5         2     0.08   75          0
19     57678         924        1.0         1     0.17  104          0
20     59003        3285        2.0         5     0.42  233          0
21     59043        1668        1.5         4     0.06  115          0
22     60238        1664        1.5         3     0.21   76          0
23     60309        2039        1.0         3     0.24   55          0
24     62105        1228        1.0         2     0.31   53          0
25     62938        1064        1.0         3     0.13   95          0
26     63101        1628        1.0         2     0.06  124          0
27     63852        1536        1.5         4     0.46   30          1
28     64174         672        1.0         2     0.36   46          0
29     64552        1298        1.0         3     0.24  106          0
...      ...         ...        ...       ...      ...  ...        ...
1017  326330        1326        1.0         3     2.00   52          0
1018  328491        2733        2.5         4     0.47    3          1
1019  329221        2934        2.5         3     0.66    9          1
1020  329328        3542        3.5         4     0.56    1          1
1021  329484        2786        2.5         4     0.39    0          1
1022  330219        2576        2.5         3     0.55   31          1
1023  332888        3111        2.5         4     0.50    3          1
1024  333411        3356        2.5         4     0.34    6          1
1025  334556        3376        2.5         4     0.83    7          1
1026  334556        3296        2.5         4     0.61    6          1
1027  337918        3026        4.0         4     1.34    1          1
1028  338596        1908        3.5         4     0.24   17          1
1029  340545        2926        3.0         4     0.84   11          1
1030  345364        3308        2.5         4     0.66    7          1
1031  347761        3820        4.5         4     1.40   18          1
1032  354739        3982        4.5         4     5.61    6          1
1033  355529        2186        2.5         3     1.40   12          0
1034  357138        2618        1.5         3     1.92    1          1
1035  357384        2322        2.5         3     0.27    0          1
1036  366772        3200        2.5         4     1.27    1          1
1037  368396        3358        3.5         4     0.58    9          1
1038  373227        2058        1.5         2     0.23   49          1
1039  378465        3457        2.5         3     1.00   20          1
1040  379472        3440        4.0         5     0.77    1          1
1041  379678        3720        4.0         5     0.80    0          1
1042  387652        3504        2.5         5     0.90    0          1
1043  391842        3003        3.5         4     0.46   88          1
1044  394532        3361        3.5         4     0.71    1          1
1045  432845        3250        2.5         3     0.53   23          1
1046  446436        3467        2.5         4     0.34    3          1

[1047 rows x 7 columns]>

In [145]:
hp[["Price","LivingArea"]]

       Price  LivingArea
0      16858        1629
1      26049        1344
2      26130         822
3      31113        1540
4      40932        1320
5      44674        1214
6      44873         882
7      45004         960
8      45904        1328
9      47630        1235
10     49211         800
11     49564        1363
12     50483         743
13     50709         960
14     51183        1144
15     52360        1310
16     54210         792
17     55817        1688
18     55851         990
19     57678         924
20     59003        3285
21     59043        1668
22     60238        1664
23     60309        2039
24     62105        1228
25     62938        1064
26     63101        1628
27     63852        1536
28     64174         672
29     64552        1298
...      ...         ...
1017  326330        1326
1018  328491        2733
1019  329221        2934
1020  329328        3542
1021  329484        2786
1022  330219        2576
1023  332888        3111
1024  333411        3356
1025  334556        3376
1026  334556        3296
1027  337918        3026
1028  338596        1908
1029  340545        2926
1030  345364        3308
1031  347761        3820
1032  354739        3982
1033  355529        2186
1034  357138        2618
1035  357384        2322
1036  366772        3200
1037  368396        3358
1038  373227        2058
1039  378465        3457
1040  379472        3440
1041  379678        3720
1042  387652        3504
1043  391842        3003
1044  394532        3361
1045  432845        3250
1046  446436        3467

[1047 rows x 2 columns]

In [147]:
hp["Price"]

0        16858
1        26049
2        26130
3        31113
4        40932
5        44674
6        44873
7        45004
8        45904
9        47630
10       49211
11       49564
12       50483
13       50709
14       51183
15       52360
16       54210
17       55817
18       55851
19       57678
20       59003
21       59043
22       60238
23       60309
24       62105
25       62938
26       63101
27       63852
28       64174
29       64552
         ...
1017    326330
1018    328491
1019    329221
1020    329328
1021    329484
1022    330219
1023    332888
1024    333411
1025    334556
1026    334556
1027    337918
1028    338596
1029    340545
1030    345364
1031    347761
1032    354739
1033    355529
1034    357138
1035    357384
1036    366772
1037    368396
1038    373227
1039    378465
1040    379472
1041    379678
1042    387652
1043    391842
1044    394532
1045    432845
1046    446436
Name: Price, Length: 1047, dtype: int64